{% assign skills = site.data.data.skills %} {% if skills %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">
    {% for skill in skills.toolset %}
    <p
      astyle="background-color:#02f3e5;
    border-radius:4px;
    font-size:16px;
    padding:15px;
    margin:5px;"
    >
      <b> {{ skill.name }} </b>
    </p>
    {% endfor %}
  </div>
</section>
<!--//skills-section-->
{% endif %}
