---
layout: default
lang: es
---

{% assign cv = site.data[page.lang] %}

{% include career-profile.html data=cv %}

{% unless cv.sidebar.education %}
  {% include education.html data=cv %}
{% endunless %}

{% include experiences.html data=cv %}

{% include certifications.html data=cv %}

{% unless cv.sidebar.projectsec %}
  {% include projects.html data=cv %}
{% endunless %}

{% unless cv.sidebar.ossec %}
  {% include oss-contributions.html data=cv %}
{% endunless %}

{% include publications.html data=cv %}

{% include conferences.html data=cv %}

{% include skills.html data=cv %}
